h1{
    color:brown;
    text-align:center;
  
    
  }
  h6{
    background-color:violet;
    padding:8px;
    font-size:18px;
    text-align:center 
    
  }
  img{
    margin-top:0px;
    width:50%;
  }